#people {
    font-style:italic;
}
body {
background-image: url('background.png');
background-size: cover;
}

.summary {
    text-align: center; 
    background-color: white; 
}
.content {
    text-align: center;  
    font-family:"abril fatface";
 }
 .comingsoon {
     position: relative;
    bottom: 20px;
 }

