#people {
    font-style:italic;
}
body {
background-image: url('background.png');
background-size:cover;
}

.summary {
    text-align: center; 
    background-color: transparent;
}
.content {
    text-align: center;  
    font-family:"abril fatface";
 }
.india{
    height:30px;
    width:30;
    margin:auto;
}
 .comingsoon {
    position: relative;
    bottom: 10px;
    clear: both;
    
 }
 #title {
     font-size:30px;
 }

    

    


